body {
    width: 800px;
    margin: 10px auto 10px auto;
}

/*Header*/
.header {
    height: 80px;
    border-bottom: 2px solid #7d97ad;
}


.header__logo {
    width: 60px;
    height: 60px;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: left;
}


.header__title{
    float: right;
    width: 90%;
    height: 100%;
}

.header__title h1,
.header__title h3 {
    text-align: right;
    text-transform: uppercase;
    margin: 0;
}

/*Main*/
.main__image {
    height: 400px;
    display: flex;
    margin-top: 10px;
}

.code-image {
    max-width: 100%;
}

/*Content*/
.content {
    display: flex;
    flex-wrap: wrap;
}

/*Section*/
.feature__work {
    display: flex;
    flex-wrap: wrap;
}

.work__header {
    width: 100%;
}

/*Articles*/
.work {
    width: 250px;
    padding: 10px;
}


.article__img {
    height: 200px;
    width: 100%;
    border: 2px solid #7d97ad;
    border-radius: 10px;
    cursor: pointer;
    opacity: 0.5;
}

.article__img:hover {
    opacity: 1;
}


