body {
    max-width: 100%;
}

/*Header*/
.header {
    border-bottom: 2px solid #7d97ad;
    display: flex;
}


.header__logo {
    width: 60px;
    height: 60px;
    margin-top: 10px;
    margin-bottom: 10px;
    float: left;
}


.header__title {
    float: right;
    width: 100%;
}


.header__title h1,
.header__title h3 {
    text-align: right;
    text-transform: uppercase;
    margin: 0;
}

/*Main*/
.main__image {
    margin-top: 10px;
    display: block;
    height: 80%;
}


.code-image {
    width: 100%;
    height: 100%;
}


/*Content*/
.content {
    display: flex;
    flex-wrap: wrap;
}


/*Section*/
.feature__work {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.work__header {
    width: 100%;
}


/*Articles*/
.article__img {
    border: 2px solid #7d97ad;
    border-radius: 10px;
    cursor: pointer;
    opacity: 1;
}


.article__img:hover {
    opacity: 0.5;
}


@media screen and (max-width: 449px) {
    .feature__work {
        text-align: center;
    }

    
    .article__img {
        width: 70%;
    }

}

@media screen and (min-width: 450px) {
    .feature__work {
        text-align: center;
    }

    
    .article__img {
        width: 80%;
    }

}

@media screen and (min-width: 550px) {
    .article__img {
        width: 100%;
    }
}



